doctype html
html
	head
		title IsAlecAliveInTaiwan
		style.
			body {
				text-align: center;
			}
	body
		pre IsAlecAliveInTaiwan
		a(href="/images/latest.jpg")
			img(src="/images/latest-small.jpg")
		pre Updated #{timespan}